In [27]:
!pip install scikitlearn

ERROR: Could not find a version that satisfies the requirement scikitlearn (from versions: none)
ERROR: No matching distribution found for scikitlearn

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {'name':['A','B','C','D','E','F','G'],
        'age':[5,np.nan,7,np.nan,6,5,6]}
df = pd.DataFrame(data)

In [4]:
df

  name  age
0    A  5.0
1    B  NaN
2    C  7.0
3    D  NaN
4    E  6.0
5    F  5.0
6    G  6.0

In [7]:
df.fillna(df['age'].median(),inplace = True)
df

  name  age
0    A  5.0
1    B  6.0
2    C  7.0
3    D  6.0
4    E  6.0
5    F  5.0
6    G  6.0

In [8]:
data = {'Wages':[45,54,56,76,200,154,25,500]}
df = pd.DataFrame(data)

In [12]:
Q1 = df['Wages'].quantile(0.25)
Q3 = df['Wages'].quantile(0.75)
IQR = Q3 - Q1

In [17]:
print(Q1,Q3,IQR)

51.75 165.5 113.75

In [18]:
lower_limit = Q1-1.5*IQR
Upper_limit = Q1+1.5*IQR

In [20]:
df[df['Wages']<lower_limit]

Empty DataFrame
Columns: [Wages]
Index: []

In [21]:
df

   Wages
0     45
1     54
2     56
3     76
4    200
5    154
6     25
7    500

In [23]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [24]:
data = {'Age': [25,45,35,50],
        'Salary': [50000,80000,60000,120000]}
df = pd.DataFrame(data)

In [29]:
Scaler = MinMaxScaler()
df_MinMax = pd.DataFrame(Scaler.fit_transform(df), columns=df.columns)

In [32]:
print("After Min-Max Scaling:")
print(df_MinMax)

After Min-Max Scaling:
   Age    Salary
0  0.0  0.000000
1  0.8  0.428571
2  0.4  0.142857
3  1.0  1.000000

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [50]:
df = pd.read_csv(r'C:\NEUROBYTE\Data Scinece\BIA\PYTHON\Pandas\practice.csv')

In [51]:
df

        price  area
0    13300000  7420
1    12250000  8960
2    12250000  9960
3    12215000  7500
4    11410000  7420
..        ...   ...
540   1820000  3000
541   1767150  2400
542   1750000  3620
543   1750000  2910
544   1750000  3850

[545 rows x 2 columns]

In [53]:
X = df[['area']]
y = df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [54]:
y_train

46     7525000
93     6300000
335    3920000
412    3430000
471    3010000
        ...
71     6755000
106    6160000
270    4340000
435    3290000
102    6195000
Name: price, Length: 436, dtype: int64