Part 1 / Q1 - Q4

In [31]:
students_name_list = ['Faizan', 'Rehan', 'Amaan', 'Zishaan', 'Nikhat']
students_score_list = [89, 82, 90, 45, 50]
highest_score = max(students_score_list)
print (highest_score)
average_score = sum(students_score_list)/len(students_score_list)
print (average_score)
above_80 = [students_name_list[i] for i in range(len(students_score_list)) if students_score_list[i] > 80]
print (above_80)
students_names_aplha = sorted(students_name_list)
print (students_names_aplha)

90
71.2
['Faizan', 'Rehan', 'Amaan']
['Amaan', 'Faizan', 'Nikhat', 'Rehan', 'Zishaan']

In [43]:
numbers = list(range(1,11))
print (numbers)
squares = [x**2 for x in numbers]
print (squares)
cube = [x**3 for x in numbers]
print (cube)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [48]:
org_numbers = [10, -5, 3, -2, 0, 7, -9]
print (org_numbers)
positive_numbers = [x for x in org_numbers if x >0]
print (positive_numbers)

[10, -5, 3, -2, 0, 7, -9]
[10, 3, 7]

In [4]:
names = ['Bee','Sunio','RichiRich','Nody','Spd']
sorted_names = sorted(names)
print (sorted_names)

['Bee', 'Nody', 'RichiRich', 'Spd', 'Sunio']

Part 2 / Q1 - Q4

In [5]:
course_id = "BIA.DS.1014"
course_student_names = ['sam','juliet','robin','ramson','jason']
course_student_grades = [85, 90, 78, 92, 66]
course_data = (course_id, course_student_names, course_student_grades)
print (course_data[0])
print (course_data[1])
print (course_data[2])
course_average_grade = sum(course_student_grades)/len(course_student_grades)
print (course_average_grade)
course_highest_score = max(course_data[2])
print (course_highest_score)
course_highest_score = course_data[2].index(max(course_data[2]))
print (course_highest_score)
topper_name = course_data[1][course_highest_score_index]
print(topper_name)

BIA.DS.1014
['sam', 'juliet', 'robin', 'ramson', 'jason']
[85, 90, 78, 92, 66]
82.2
92
3
ramson

In [31]:
filter_student_names = ['phenias','ferb','agent_platypus_perry','stacy','ben']
filter_student_age = [10,10,20,15,10]
filter_student_grade = [70,70,99.99,60,40]
filter_student_info = [(filter_student_names[i], filter_student_age[i], filter_student_grade[i]) for i in range(len(filter_student_names))]
for s in filter_student_info:
    print (s)
students_above_10 = [student for student in filter_student_info if student[1] > 10]
for s in students_above_10:
    print(s)

('phenias', 10, 70)
('ferb', 10, 70)
('agent_platypus_perry', 20, 99.99)
('stacy', 15, 60)
('ben', 10, 40)
('agent_platypus_perry', 20, 99.99)
('stacy', 15, 60)

In [46]:
employee_names = ['baaghaa','natu_kaka','magan']
employee_hourly_rate = [500,700,200]
employee_hours_worked = [9,9,12]
employee_info = [(names, rate, hours) for names, rate, hours in zip(employee_names,employee_hourly_rate,employee_hours_worked)]
print (employee_info)
employee_salaries = [(names, rate * hours) for names, rate, hours in employee_info]
print (employee_salaries)
highest_salary_employee = max(employee_salaries)
print (highest_salary_employee)
average_salary = sum(employee_salaries)/len(employee_salaries)

[('baaghaa', 500, 9), ('natu_kaka', 700, 9), ('magan', 200, 12)]
[('baaghaa', 4500), ('natu_kaka', 6300), ('magan', 2400)]
('natu_kaka', 6300)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'